/* section 6 */

.section-6 {
    margin-top: 5rem;
}

.home-two-banner {
    padding: 1rem;
}

.content_banner {
    padding: 1rem;
}

.title_banner h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.title_banner span {
    font-size: 1rem;
    color: #666;
}

.group-banner {
    margin-top: 1rem;
}

.banner-1 img {
    width: 100%;
    height: auto;
    display: block;
}

.des {
    margin-top: 1rem;
}

.des .lien-he {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.des p {
    text-align: center;
    font-size: 0.9rem;
}

.sidenav {
    display: none;
}

/* mobile */
@media only screen and (max-width: 600px) {

    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    /* header start */
    header {
        width: 100%;
        padding: 0 20px;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    }

    .logo img {
        width: 70px;
        display: block;
        margin: -1px -342px auto;

    }

    .logo-mb img {
        width: 90px;
        display: block;
        margin: -50px 28px auto;
    }

    .navicon a {
        margin: 2px 11px auto;
        font-size: 17px;
    }

    #navbarDropdown .bi {
        font-size: 20px;
        color: #333;
        margin-right: 1px;
        text-align: center;
    }

    .navicon a .bi {
        font-size: 20px;
        color: #333;
        margin-right: 1px;
        text-align: center;
    }

    .navicon a i {
        font-size: 20px;
        color: #333;
        margin-right: 8px;
    }

    .navicon a {
        color: #333;
    }

    .navicon {
        padding-top: 10px;
        position: absolute;
        right: 0;
        display: flex;
        margin-right: 30px;
        align-items: center;
        color: #B7B7B7;
        margin: -17px -42px auto;
    }

    /* header end */


    /* start section 3 */
    .section-3 .row {
        gap: 10px;
    }

    .swiper-slide {
        flex: 1 0 calc(50% - 5px);
        max-width: calc(50% - 5px);
        box-sizing: border-box;
    }

    .section-3 .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 10px;
    }


    .section-3 h2 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .section-3 .rating {
        font-size: 1rem;
    }

    .section-3 .card-title {
        font-size: 1rem;
    }

    .section-3 .card-text {
        font-size: 0.875rem;
    }

    .swiper-slide {
        width: calc(50% - 10px);
        margin-right: 10px;
    }

    .swiper-wrapper {
        display: flex;
    }

    .swiper-container {
        overflow: hidden;
        padding-bottom: 50px;
        /* Để dành chỗ cho pagination và navigation */
    }


    /* end section 3 */

    /* start section 6 */
    .section-6 {
        margin-top: 1rem;
    }

    .home-two-banner {
        padding: 0.5rem;
    }

    .content_banner,
    .content_banner_2 {
        padding: 0.25rem;
    }

    .title_banner h3 {
        font-size: 1.2rem;
    }

    .title_banner span {
        font-size: 0.9rem;
    }

    .banner-1 img {
        width: 100%;
        height: auto;
    }

    /* end section 6 */

    /* footer start */
    .des .lien-he {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
    }

    .group-banner {
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .collection>.row,
    .home-two-banner .des {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer {
        padding: auto;
        flex-direction: column;
    }

    .footer-left p {
        margin-top: 20px;
        font-size: 0.8rem;
        text-align: left;
    }

    .footer-left {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-left .logo img {
        display: inline-block;
    }

    .footer-contact {
        text-align: left;
        margin-top: 20px;
        margin-left: -29px;

    }

    /* footer end */

    /* Style sidenav */
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
    }

    .sidenav a {
        padding: 8px 16px;
        text-decoration: none;
        font-size: 14px;
        color: #818181;
        display: block;
        transition: 0.3s;
        text-align: left;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: auto;
        color: #818181;
    }


    .nav-mobile-button {
        font-size: 1.3rem;
        margin: 2px -17px auto;
        display: block !important;
    }

    .navmenu {
        display: none;
    }

    .carousel-item .desktop-img {
        padding: 0;
        height: 100%;
        object-fit: cover;
        display: none !important;
    }

    .carousel-item .mobile-img {
        margin: 50px 0px auto;
        height: 100%;
        object-fit: cover;
        display: block !important;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
        height: 100%;
    }

    /* style menu end */

    /* start product */
    .btn-filter-sidebar {
        display: block !important;
    }

    .sidebar {
        display: none;
    }

    .filter-mobile-sidebar a {
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: #333;
    }

    .filter-mobile-sidebar.open {
        display: block !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        overflow-y: auto;
        background-color: #fff;
    }

    .btn-filter-sidebar {
        position: absolute;
        margin: -1px 17px auto;
    }

    .input-group {
        margin-left: 56px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .btn-filter-sidebar {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 20%;
        padding: 10px;
        height: 40px;
        font-size: 15px;
    }

    .btn-close-sidebar-mb {
        background: #dc3545;
        border: none;
        border-radius: 50%;
        color: #fff;
        font-size: 18px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .sidebar-mb a {
        text-decoration: none;
        color: #333;
        padding: 10px 0;
        display: block;
    }

    .btn-close-sidebar:hover {
        color: #dc3545;
    }

    .product-item {
        flex: 0 0 50%;

    }

    .card-title {
        font-size: 0.8rem;
        text-align: center;
    }

    .card-text {
        font-size: 0.9rem;

    }

    .mb-2 {
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .shop1 {
        display: none;
    }

    .shop2 {
        display: block;
        margin: 50px 3px auto;

    }

    .shop2 h1 {
        font-size: 1rem;
        color: #ff0909;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    .shop2 h2 {
        font-size: 1.5rem;
        text-align: left;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    /* end product */
    .slider-slide {
        width: calc(50% - 10px);
    }

    .section-3 .card img {
        width: 179px;
        height: 179px;
        margin: 5px 7px auto;
        margin-right: auto;
        margin-left: auto;
    }

    .slider-button-prev,
    .slider-button-next {
        background-color: rgba(174, 172, 172, 0.5);
        border-radius: 50%;
        color: #ffffff;
    }

    .slider-button-next {
        margin: -62px -8px auto;
    }

    .slider-button-prev {
        margin: -62px 4px auto;
    }

    .btn-primary {
        width: 100%;
        margin: 12px 0px auto;
    }

    .d-none.d-sm-table-cell {
        display: none !important;
    }

    .btn-group-sm>.btn,
    .btn-sm {
        width: 100%;
    }

    .btn-link.toggle-details {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        margin: -4px -95px auto;
        float: right;
    }

    .btn-link.toggle-details:hover {
        color: #1577e0;
        text-decoration: underline;
    }

    .product-image11 {
        width: 381px;
        padding: inherit;
        margin: -40px 0 auto;
        height: 371px;
    }

    .product-image-small {
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.3s ease, border-color 0.3s ease;
        width: 100px;
        height: auto;
        margin: 5px 5px auto;
    }

    .h2,
    h2 {
        font-size: calc(1.325rem + .9vw);
        padding: inherit;
    }

    .btn-danger {
        width: 100%;
    }

    .btn-success {
        width: 100%;
    }

    /* .contact-section{
        display: none;
    } */
    .py-5 {
        padding-top: 3rem !important;
        margin: -36px 0px auto;
        padding-bottom: 3rem !important;
    }

    .pagination {
        text-align: center;
        margin: 0 140px auto;
    }

    .profile-section {
        margin: 0 0 auto;
    }

    .vieworder-section {
        margin: 0 60px auto;
    }

    .yourcart-section {
        margin: 0 60px auto;
    }

    .checkout-section {
        margin: 0 60px auto;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {}


@media only screen and (min-width: 1025px) {}