* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0px 18%;
    background-color: #eee;
    z-index: 10000;
}

.logo {
    max-width: 120px;
    cursor: pointer;
    height: auto;
}

.navmenu {
    display: flex;
    padding-top: 15px;
}

.navmenu a {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
}

.navmenu a:hover {
    color: #d81f19;
}

.navicon {
    display: flex;
    padding-top: 15px;
}

.navicon a {
    color: black;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.navicon a>span {
    background-color: #333;
    padding: 3px 7px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    font-size: 10px;
}

.slider {
    background-color: #333;
    width: 100%;
    height: auto;
}

.category-section {
    width: 70%;
    /* height: 40rem; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.category-section a {
    margin-left: 223px;
}

.category-head {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.category-head p {
    opacity: 0.5;
}

.viewshop-section {
    width: 70%;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.viewshop-head a {
    margin-left: 223px;
}

.viewshop-head {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.viewshop-head p {
    opacity: 0.5;
}

.ourproduct-section {
    width: 70%;
    /* height: 40rem; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.ourproduct-head a {
    margin-left: 223px;
}

.ourproduct-head {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.ourproduct-head p {
    opacity: 0.5;
}

.ft-end {
    text-decoration: none;
}

/* order */
.myorder-section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.vieworder-section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.vieworder-head a {
    margin-left: 223px;
}

.vieworder-head {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.vieworder-head p {
    opacity: 0.5;
}

.table {
    background-color: #ffffff;
}

.table thead.thead-bordered th {
    border-top: 1px solid #dee2e6;
    background-color: #ffffff;
}

.table thead.thead-bordered th:last-child {
    border-right: 1px solid #dee2e6;
}

.table thead.thead-bordered th:first-child {
    border-left: 1px solid #dee2e6;
}

.table tbody tr td {
    background-color: #ffffff;
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.table tbody tr:last-child td {
    border-bottom: 1px solid #dee2e6;
}

.table tbody tr:first-child td {
    border-top: none;
}


.text-center {
    text-align: center;
}

.bg-white {
    background-color: #ffffff !important;
}

/* img side  */
.slider img {
    width: 100%;
    /* height: 100%; */
    display: none;
    transition: opacity 1s ease;
}

.slider img.active {
    display: block;
}

/* end img side  */
.yourcart-section {
    width: 70%;
    min-height: 34.25rem;
    /* height: 34.25rem; */
    margin-left: auto;
    margin-right: auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 100px;
    height: auto;
}

.cart-item .item-details {
    flex-grow: 1;
    margin-left: 15px;
}

.order-summary {
    padding: 15px;
    border: 1px solid #ddd;
}

.order-summary input {
    width: 100%;
    margin-bottom: 15px;
}

.order-summary .total {
    font-weight: bold;
}

.order-info .card-header {
    cursor: pointer;
}

.card-section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* hover img  */
.img-thunbnail {
    border: 1px solid #ddd;
}

.img-thunbnail:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


.shop1 {
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.shop1 p {
    width: 400px;
    color: rgb(159, 158, 158);
    margin-left: auto;
    margin-right: auto;
}

.shop2 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.shop2 h2 {
    font-size: 23px;
}

.select {
    margin-left: 750px;
    margin-bottom: 30px;
}

.select p {
    margin-top: 5px;
    font-size: 13px;
}

.loadmore {
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-left: 400px;
    background-color: white;
    font-size: 13px;
    margin-bottom: 100px;
}

.product-card {
    height: 200px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dee2e6;
}


/* about */
.service-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.service-item .h1 {
    font-size: 3em;
}

.service-item h2 {
    font-size: 1.25em;
    margin-top: 15px;
}

.service-item:hover {
    background-color: #e9ecef;
}

.service-item i {
    transition: color 0.3s ease;
}

.service-item:hover i {
    color: #f23619;
}

.service-content {
    display: none;
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

.service-item {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.ads-brand {
    height: auto;
    padding: 10px 0;
    background-color: #686666;
    /* margin-top: -122px; */
    margin-bottom: -50px;
}

.slider-ads {
    /* position: relative; */
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.slides-ads img {
    padding: 0 50px;
}

.slides-ads {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: calc(100% / 4);
    transition: opacity 1s;
}

/* ads banner */

.feature-box {
    background-color: #0d1a3d;
    color: white;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    /* Make all boxes take equal space */
    margin: 0 10px;
    /* Add space between boxes */
    display: flex;
    align-items: center;
}

.feature-box i {
    font-size: 30px;
    margin-right: 10px;
}

.feature-box .feature-text {
    display: flex;
    flex-direction: column;
}

.feature-box h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.feature-box p {
    font-size: 14px;
    margin: 0;
}

.feature-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ads-banner2 {
    position: relative;
}

.ads-banner2 img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ads-brands-3 img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* CSS cho nút scroll to top */
#scrollToTopBtn {
    display: none;
    /* Ẩn nút ban đầu */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    /* background-color: #555; */
    color: #000;
    cursor: pointer;
    /* padding: 15px; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

#scrollToTopBtn:hover {
    background-color: #777;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee; /* Màu xám phủ màn hình */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.loader {
    display: inline-block;
    z-index: 10000;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}